<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <br>
    <div class="container px-5 py-2">
      <h1 style="text-align: center; color: #7b7b1e;" class="color">
        Videos Rutinarios
      </h1>

      <div class="mat-elevation-z8 container" style="text-align:left;">

      <table mat-table [dataSource]="dataSource">
        <!--- Note that these columns can be defined in any order.
             The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef class="header-border">Codigo</th>

          <td mat-cell *matCellDef="let element">{{element.idVideosRutinarios}}</td>
        </ng-container>

        <ng-container matColumnDef="entrenador">
          <th mat-header-cell *matHeaderCellDef> Entrenador </th>
          <td mat-cell *matCellDef="let element"> {{element.entrenador.nombre}} {{element.entrenador.apellidoPaterno}} {{element.entrenador.apellidoMaterno}}</td>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef class="header-border">Tipo de Video</th>

          <td mat-cell *matCellDef="let element">{{element.nombreTipoVideo}}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef class="header-border">Descripcion</th>

          <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
        </ng-container>

        <ng-container matColumnDef="duracion">
          <th mat-header-cell *matHeaderCellDef class="header-border">Duracion</th>

          <td mat-cell *matCellDef="let element">{{ element.duracion}}</td>
        </ng-container>

        <!-- Name Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements" [length]="totalItems"></mat-paginator>
    </div>
    <div style="text-align: center;" class="my-5">
      <button mat-raised-button [hidden]="role!='NUTRICIONISTA'" [ngStyle]="{ 'background-color': '#adad42', 'color': '#fff'}" routerLink="nuevo">Agregar</button>
    </div>
    </div>
  </body>
</html>
