<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <br>
  <br>
  <div class="container px-5">
    <h1 style="text-align: center; color: #7b7b1e;" class="color" >
      DOCUMENTO Y DETALLE DE VENTA
    </h1>
    <br>
    <div class="container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <!--- Note that these columns can be defined in any order.
             The actual rendered columns are set as a property on the row definition" -->


          <!-- Position Column -->

          <ng-container matColumnDef="alumno">

           <th mat-header-cell *matHeaderCellDef class="header-border"> Alumno </th>

           <td mat-cell *matCellDef="let element"> {{element.nameAlumno}}  </td>

          </ng-container>

          <ng-container matColumnDef="producto">

            <th mat-header-cell *matHeaderCellDef class="header-border"> Producto</th>

            <td mat-cell *matCellDef="let element"> {{element.nameProducto}} </td>

           </ng-container>
           <ng-container matColumnDef="monto">

            <th mat-header-cell *matHeaderCellDef class="header-border"> Monto Total </th>

            <td mat-cell *matCellDef="let element"> {{element.montoTotal}}  </td>

           </ng-container>

           <ng-container matColumnDef="fecha">

             <th mat-header-cell *matHeaderCellDef class="header-border"> Fecha de la Compra</th>

             <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>

            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

         </table>
         <mat-paginator [pageSizeOptions]="[5, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements" [length]="totalItems"></mat-paginator>

        </div>
         <br>
         <ng-container>
        </ng-container>
      </div>
</body>
</html>
