<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="container mt-5" style= "text-align:center;">
  <div style="text-align: center;">
    <h1 style="color: #7b7b1e;">Registro de Calificaciones</h1>
  </div>
  <form [formGroup] ="form"(submit)="aceptar()">
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Codigo</mat-label>
      <input matInput placeholder="id"formControlName="id" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="nombre"formControlName="name" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Puntuacion</mat-label>
      <input matInput placeholder="puntuacion"formControlName="puntuacion" required>
    </mat-form-field>
     <br>
    <mat-form-field class="example-full-width">
      <mat-label>Comentario</mat-label>
      <input matInput placeholder="comentario"formControlName="comentario" required>
    </mat-form-field>
    <br>
    <div class="d-flex justify-content-center gap-4 mt-4">

      <button mat-raised-button [ngStyle]="{ 'background-color': '#adad42', 'color': '#fff' }" >Aceptar</button>
      <button mat-raised-button [ngStyle]="{ 'background-color': '#7b7b1e', 'color': '#fff' }" routerLink="/egym/calificaciones">Cancelar</button>


    <br>
  </div>
  <p>{{mensaje}}</p>
  </form>

</div>
</body>
</html>
