
.bg-amarillo {
  background-color: #93874c;
}

.bg-amarillo:hover {
  background-color: #bfbf00; /* Puedes mantener el mismo color o cambiarlo si deseas */
}

.container{
   height: 100vh;
    background: linear-gradient(to bottom, #e7d162, #424037);

}

.body
{
  display:flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: linear-gradient(to bottom, #e7d162, #424037);
}
.login
{
  width: 100%;
  max-width: 330px;
  text-align: center;
}
.ancho
{
  width: 80%;
}
.button{
  height: 50px;
}
.btnregistrate
{
  align-items:normal;
}
.btn {
  width: 40%;
  height: 10%;
}
