:root {
  --amarilloClaro: #e8e85b;
  --amarillo: #adad42;
  --amarilloOscuro: #7b7b1e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
/* html {
  font-size: 62.5% !important;
}
body {
  font-size: 16px; /*1rem = 10px*/
/* } */
img {
  width: 100%;
}
.header {
  height: 800px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("src/assets/img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* margin-top: 5.6rem; */
}
.header h2 {
  font-size: 70px !important;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
  background-color: rgba(152, 195, 23, 0.2);
}
.navbar-toggler-icon {
  height: 30px;
  width: 30px;
}
.nav-link:hover {
  color: #7b7b1e !important;
}
.nosotros p {
  line-height: 2;
}
.titulo {
  font-size: 25px;
  color: #7b7b1e;
  font-weight: bold;
}
.testimonios, .nosotros {
  margin-top: 50px;
}
.testimonios, .contacto {
  margin-bottom: 50px;
}
.container-foto1 {
  background-image: url('src/assets/img/entrenador.jpg');
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.container-foto2 {
  background-image: url('src/assets/img/nutricionista.jpg');
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.container-foto3 {
  background-image: url('src/assets/img/productos.jpg');
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.container-foto {
  background-image: url("src/assets/img/foto1.jpg");
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.fn-1 {
  background-image: url("src/assets/img/foto2.jpg");
}
.fn-2 {
  background-image: url("src/assets/img/foto3.jpg");
}
.bg-amarillo {
  background-color: #adad42;
}
.bg-amarillo:hover {
  background-color: #7b7b1e;
}
.active {
  background-color: #7b7b1e;
}
.active:hover {
  color: #ffffff !important;
  background-color: #6d6d19;
}
.footer {
  background: #e9d362;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333333, #e9d362);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333333, #e9d362); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 40px;
  font-size: 15px !important;
}
.width {
  max-width: 600px;
}
.height {
  height: 400px;
}
.width-link {
  width: min(400px,100%);
}
@media (min-width: 768px) {
  .margin {
      margin-top: 100px!important;
  }
}
.margin-top {
  margin-top: 40px;
}
.button {
  width: 150px;
  background-color: #adad42;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 10px;
}
.button:hover {
  background-color: #7b7b1e;
}
.nav-claro {
  background-color: #ffffff;
}


