<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button (click)="opened=!opened" class="menu">
      <mat-icon>
        menu
      </mat-icon>
    </button>
  E-GYM
    <div class="spacer"></div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <div>
      <img src="./assets/img/logo1.png" style="height: 12rem; width: 12rem;">
    </div>
    <mat-divider></mat-divider>
    <button mat-button routerLink="/alumnos" (click)="cerrarSidenav()" class="menu-button" style="color: #fff;">
      <mat-icon>
        person
      </mat-icon>
      <span>
        Alumnos
      </span>
    </button>
    <button mat-button routerLink="/entrenadores" (click)="cerrarSidenav()" class="menu-button"style="color: #fff;">
      <mat-icon>
        person
      </mat-icon>
      <span>
        Entrenadores
      </span>
    </button>
    <button mat-button routerLink="/nutricionista" (click)="cerrarSidenav()" class="menu-button"style="color: #fff;">
      <mat-icon>
        person
      </mat-icon>
      <span>
        Nutricionistas
      </span>
    </button>
    <button mat-button routerLink="/products" (click)="cerrarSidenav()" class="menu-button"style="color: #fff;">
      <mat-icon>
        shopping_basket
      </mat-icon>
      <span>
        Productos
      </span>
    </button>
    <button mat-button routerLink="/calificaciones" (click)="cerrarSidenav()" class="menu-button"style="color: #fff;">
      <mat-icon>
        check
      </mat-icon>
      <span>
        Calificaciones
      </span>
    </button>
    <button mat-button routerLink="/citaEntrenadores" (click)="cerrarSidenav()" class="menu-button"style="color: #fff;">
      <mat-icon>
        check
      </mat-icon>
      <span>
        Cita con mi Entrenador
      </span>
    </button>
    <button mat-button routerLink="/citaNutricionistas" (click)="cerrarSidenav()" class="menu-button"style="color: #fff;">
      <mat-icon>
        check
      </mat-icon>
      <span>
        Cita con mi Nutricionista
      </span>
    </button>
    <button mat-button routerLink="/recetasAsignadas" (click)="cerrarSidenav()" class="menu-button"style="color: #fff;">
      <mat-icon>
        check
      </mat-icon>
      <span>
       Reseta Asignada
      </span>
    </button>
    <button mat-button routerLink="/documentoVentas" (click)="cerrarSidenav()" class="menu-button"style="color: #fff;">
      <mat-icon>
        check
      </mat-icon>
      <span>
       Documentos de Ventas
      </span>
    </button>
    <button mat-button routerLink="/rutinasAsignadas" (click)="cerrarSidenav()" class="menu-button"style="color: #fff;">
      <mat-icon>
        check
      </mat-icon>
      <span>
       Rutinas Asignadas
      </span>
    </button>
    <button mat-button routerLink="/suscripcion" (click)="cerrarSidenav()" class="menu-button"style="color: #fff;">
      <mat-icon>
        check
      </mat-icon>
      <span>
       Suscripciones
      </span>
    </button>
    <mat-divider></mat-divider>
    <br>
    <button mat-button routerLink="/" class="menu-button"style="color: #fff;">
      <mat-icon>
        logout
      </mat-icon>
      <span>
        Salir
      </span>
    </button>
  </mat-sidenav>
<mat-sidenav-content>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
