<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <br>
  <div class="container px-5">
    <h1 style="text-align: center; color: #7b7b1e;" class="color" >
      Cantidad de Productos Comprado Por Alumno
    </h1>
    <div class="container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <!--- Note that these columns can be defined in any order.
             The actual rendered columns are set as a property on the row definition" -->


          <!-- Position Column -->

          <ng-container matColumnDef="alumno">

           <th mat-header-cell *matHeaderCellDef class="header-border"> Alumno </th>

           <td mat-cell *matCellDef="let element"> {{element.nameAlumno}}  </td>

          </ng-container>
          <ng-container matColumnDef="apellidoP">

            <th mat-header-cell *matHeaderCellDef class="header-border">Apellido Paterno </th>

            <td mat-cell *matCellDef="let element"> {{element.apellidoPaterno}}  </td>

           </ng-container>

           <ng-container matColumnDef="apellidoM">

             <th mat-header-cell *matHeaderCellDef class="header-border"> Apellido Materno</th>

             <td mat-cell *matCellDef="let element"> {{element.apellidoMaterno}} </td>

            </ng-container>

          <ng-container matColumnDef="cantidad">

            <th mat-header-cell *matHeaderCellDef class="header-border"> Cantidad de Productos Comprados</th>

            <td mat-cell *matCellDef="let element"> {{element.productosCount}} </td>

           </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

         </table>

        </div>
         <br>
         <ng-container>
        </ng-container>
      </div>
</body>
</html>
