.boton-grande {
  font-size: 24px; /* ajusta el tamaño de fuente según sea necesario */
  height: 50px; /* ajusta la altura del botón según sea necesario */
  width: 150px; /* ajusta el ancho del botón según sea necesario */
}

.contenedor-formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



mat-form-field{
  width: 50%;
}
