<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="container" style="text-align:center;">
      <div style="text-align: center;">
        <h1>Registro de Alumnos</h1>
      </div>

      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width" >
          <mat-label>Código</mat-label>
          <input  matInput placeholder="Codigo" formControlName="id">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nombre" autocomplete="off">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput placeholder="Apellido Paterno" formControlName="apellidos" autocomplete="off">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Dni</mat-label>
          <input matInput placeholder="Dni" formControlName="dni" autocomplete="off">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Direccion</mat-label>
          <input matInput placeholder="Direccion" formControlName="direccion" autocomplete="off">
        </mat-form-field>

        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Celular</mat-label>
          <input matInput placeholder="Celular" formControlName="celular" autocomplete="off">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Peso</mat-label>
          <input matInput placeholder="Peso" formControlName="peso" autocomplete="off">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Talla</mat-label>
          <input matInput placeholder="Talla" formControlName="talla" autocomplete="off">
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" [max]="maxFecha" autocomplete="off">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>

        <div style="text-align:center;"></div>
        <div class="contenedor-botones">
          <button mat-raised-button  color="primary">Aceptar</button>
          <button mat-raised-button  color="warn" routerLink="/alumnos">Cancelar</button>
          <p>{{mensaje}}</p>
        </div>
      </form>
    </div>
  </body>
</html>
