<mat-toolbar class="my-toolbar">
  <span class="my-text">E-GYM</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/alumnos" ><span class="my-text">Alumno</span></button>
  <button mat-button routerLink="/entrenadores"><span class="my-text">Entrenador</span></button>
  <button mat-button routerLink="/nutricionista"><span class="my-text">Nutricionista</span></button>
  <button mat-button routerLink="/products"><span class="my-text">Producto</span></button>
  <button mat-button ><span class="my-text">Calificación</span></button>

  <span class="example-spacer"></span>

  <button    [ngStyle]="{ 'background-color': '#ffd700', 'color': '#242424' }" routerLink="/" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon mat-raised-button aling="left" class="my-text">logout</mat-icon>
  </button>
</mat-toolbar>
