<mat-toolbar color="primary">
  <span>E-GYM</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/alumnos" >Alumno</button>
  <button mat-button routerLink="entrenadores">Entrenador</button>
  <button mat-button routerLink="/nutricionista">Nutricionista</button>
  <button mat-button routerLink="/products">Producto</button>
  <button mat-button >Calificacion</button>

  <span class="example-spacer"></span>

  <button routerLink="/" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon aling="left">logout</mat-icon>
  </button>
</mat-toolbar>
