<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <br>
  <div class="container">
    <div style="text-align: center;">
      <h1>Lista de Nutricionistas</h1>
    </div>

    <mat-form-field>
      <input matInput (keyup)="filtrar($event)" placeholder="Buscar" autocomplete="off">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">

        <th mat-header-cell *matHeaderCellDef class="header-border"> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef class="header-border"> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreNutricionista}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Apellidos">
        <th mat-header-cell *matHeaderCellDef class="header-border"> Apellidos </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidosNutricionista}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="DNI">
        <th mat-header-cell *matHeaderCellDef class="header-border"> DNI </th>
        <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
      </ng-container>

      <ng-container matColumnDef="Telefono">
        <th mat-header-cell *matHeaderCellDef class="header-border"> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>
      <ng-container matColumnDef="Sexo">
        <th mat-header-cell *matHeaderCellDef class="header-border"> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
      </ng-container>

      <ng-container matColumnDef="Descripcion">
        <th mat-header-cell *matHeaderCellDef class="header-border"> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="Disponibilidad">
        <th mat-header-cell *matHeaderCellDef class="header-border"> Disponibilidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Estado}} </td>
      </ng-container>

      <ng-container matColumnDef="Accion01">
        <th mat-header-cell *matHeaderCellDef class="header-border"> Accion01 </th >
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" [routerLink]="['edicion',element.id]">Editar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <div style="text-align: center;">
      <button mat-raised-button color="warn" routerLink="/nutricionista/new">Agregar</button>
    </div>
  </div>


</body>

</html>
